<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>mongodb</h1>
    <div>
        <div>用户名: <input id="username"></div>
        <div>密码: <input type="password" id="password"></div>
        <div>年龄: <input type="number" id="age"></div>
        <div><button id="register">注册</button></div>
    </div>
    <hr />
    <div>
        <input type="text" id="updateId">
        <button id="update">更新</button>
    </div>
    <div>
        <input type="text" id="deleteId">
        <button id="delete">删除</button>
    </div>
    <script>
        let registerEle = document.getElementById('register');
        let usernameEle = document.getElementById('username');
        let ageEle = document.getElementById('age');
        let passwordEle = document.getElementById('password');
        let updateEle = document.getElementById('update');
        let updateIdEle = document.getElementById('updateId');
        let deleteEle = document.getElementById('delete');
        let deleteIdEle = document.getElementById('deleteId');
        registerEle.onclick = function () {
            let data = {
                username: usernameEle.value,
                password: passwordEle.value,
                age: parseInt(ageEle.value),
            }
            fetch('/api/user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                },
                body: JSON.stringify(data),
            }).then(res => res.json())
                .then(res => console.log(res))
        }
        updateEle.onclick = () => {
            let data = {
                username: usernameEle.value,
                password: passwordEle.value,
                age: parseInt(ageEle.value),
            }
            fetch(`/api/user/${updateIdEle.value}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                },
                body: JSON.stringify(data),
            }).then(res => res.json())
                .then(res => console.log(res))
        }

        deleteEle.onclick = () => {
            fetch(`/api/user/${deleteIdEle.value}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                },
            }).then(res => res.json())
                .then(res => console.log(res))
        }
        fetch('/api/user', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json;charset=utf-8',
            },
        }).then(res => res.json())
            .then(res => {
                let tag = document.createElement('ul');
                let lis = '';
                for (const item of res) {
                    lis += `<li>${item.username}/${item.password}/${item.age}/${item._id}</li>`;
                }
                tag.innerHTML = lis;
                document.body.appendChild(tag);
            })
    </script>
  </body>
</html>
