<!DOCTYPE html>
<html lang="zh">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
      <script>
          // Add a request interceptor
          axios.interceptors.request.use(function (config) {
              // Do something before request is sent
              let token = window.localStorage.getItem('token')
              if (!token) {
                  // window.location.href = '/login';
                  // return false;
              }
              config.headers.Authorization = `Bearer ${token}`;
              return config;
          }, function (error) {
              // Do something with request error
              return Promise.reject(error);
          });

          // Add a response interceptor
          axios.interceptors.response.use(function (response) {
              // Any status code that lie within the range of 2xx cause this function to trigger
              // Do something with response data
              // window.localStorage.setItem('token', response.headers.authorization);
              return response;
          }, function (error) {
              if (error.response.status === 401) {
                  window.localStorage.removeItem('token');
                  window.location.href = '/login';
              }
              // Any status codes that falls outside the range of 2xx cause this function to trigger
              // Do something with response error
              return Promise.reject(error);
          });
      </script>
      <style>
          td input {
              width: 100px;
          }
      </style>
  </head>
  <body>
    <h1>mongodb</h1>
    <button id="exit">退出登录</button>
    <div>
        <form action="/api/user" method="post" enctype="multipart/form-data">
            <div>用户名: <input id="username" name="username"></div>
            <div>密码: <input type="password" name="password" id="password"></div>
            <div>年龄: <input type="number" name="age" id="age"></div>
            <div>头像: <input type="file" name="file" id="file"></div>
            <div>
                <input type="submit" value="添加用户-form">
            </div>
        </form>
    </div>
    <button id="register">注册</button>
    <hr />
    <div>
        <table border="1">
            <caption>
            </caption>
            <thead>
            <tr>
                <th>姓名</th>
                <th>密码</th>
                <th>年龄</th>
                <th>头像</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
    <script>
        axios.get(`/api/user`).then(res => {
            let tr = ``;
            for (const index in res.data) {
                const item = res.data[index];
                tr += `<tr>`;
                tr += `<td><input name="username" value="${item.username}" /></td>`;
                tr += `<td><input name="password" value="${item.password}" /></td>`;
                tr += `<td><input name="age" value="${item.age}" /></td>`;
                tr += `<td><img width="100px" src="${item.filepath}" alt="头像" /></td>`;
                tr += `<td>
                        <button onclick="updateUser('${item._id}', this)">更新</button>
                        <button onclick="deleteUser('${item._id}')">删除</button>
                       </td>`;
                tr += `</tr>`;
            }
            document.getElementById('tbody').innerHTML = tr;
        });

        $('#register').on('click', () => {
            let formData = new FormData();
            formData.append('username', $('#username').val());
            formData.append('password', $('#password').val());
            formData.append('age', parseInt($('#age').val()));
            let files = $('#file').get(0).files;
            if (files.length) {
                formData.append('file', files[0]);
            }
            axios.post('/api/user', formData).then(res => {
                console.log(res)
                window.location.reload();
            });
        });
        $('#exit').on('click', () => {
            axios.delete(`/api/login`).then(res => {
                window.localStorage.removeItem('token');
                console.log(res)
                window.location.href = '/login';
            });
        });
        
        function updateUser(_id, obj) {
            const tr = $(obj).parents('tr');
            const usernameTag = tr.find('input[name="username"]');
            const passwordTag = tr.find('input[name="password"]');
            const ageTag = tr.find('input[name="age"]');
            let data = {
                username: usernameTag.val(),
                password: passwordTag.val(),
                age: ageTag.val(),
            }
            axios.put(`/api/user/${_id}`, data).then(res => {
                console.log(res)
                window.location.reload();
            });
        }

        function deleteUser(_id) {
            axios.delete(`/api/user/${_id}`).then(res => {
                console.log(res)
                window.location.reload();
            });
        }
    </script>
  </body>
</html>
